

.app-foot{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* position: fixed; */
    color: white;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.a-foot{
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
}

.style-list:hover{
   background-color: white;
   color: black;
   font-family: "Poppins", sans-serif;
   border-radius: 10px;

}